---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
).slice(0, 3);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome!</h1>
			<p>
				Welcome to my personal website where I discuss Azure, Terraform, Python, Linux, Kubernetes, and DevOps in general.
			</p>
			<p>
				This site was built using <a href="https://astro.build/">Astro.js</a>. It is a living breathing project and will hopefully be updated frequently.
			</p>
		</main>

		<!-- present 3 latest blog posts -->
		<section>
			<h2>Latest Posts</h2>
				{
					posts.map((post) => (
						<div style="margin-bottom: 20px;">
							<time datetime={post.frontmatter.pubDate}>
								{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}
							</time>
							<a href={post.url}>{post.frontmatter.title}</a>
							<img src={post.frontmatter.heroImage} style="max-width: 50%; Display: block; margin-top: 15px;" />
							<p>{post.frontmatter.previewText}</p>
							<hr />
						</div>
					))
				}
		</section>
		<Footer />
	</body>
</html>
